{% extends "ApplicationEpostBundle::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jquery.rating.css') }}" type="text/css" media="all"/>
    {{ form_stylesheet(edit_form) }}
 {% endblock %}
      
{% block javascripts %}
    {{ parent() }}
  {% endblock %}

{% block content_header '' %}
{% block title %}
Edition du Message de {{ entity.user }} sur l'article "{{ entity.epost.name }}"
{% endblock %}
     


{% block content %}

<br>
<br>

    <form action="{{ path('epost_comment_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT" />
        <table class="table table-bordered">
            <tbody>      
            <tr><td>
                    <img src="{% path entity.epost.imageMedia, 'big' %}" width="150" /> 
             {#{% if entity.epost.image is not null %}               
                        <p>Image Actuelle</p>
                        <img width="150px" src="{{ vich_uploader_asset(entity.epost, 'image') }}" alt="{{ entity.epost.imageName }}" />
         {% else %}
                        <p>Pas d'image</p>
         {% endif %}
               #}    
        </td>
                <td>
{{ form_rest(edit_form) }} </td>
            </tr>

            <tr><td colspan="2">
            <button type="submit" class="btn btn-small btn-warning">Modifier</button>
             </form>       
            </td></tr>
        </tbody>
    </table>
     <br>
 
{% endblock %}
