{% extends "ApplicationEpostBundle::layout.html.twig" %}

{% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
{% include 'ApplicationEpostBundle:Template:blocksjs.html.twig' %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ApplicationEpostBundle:Template:blockscss.html.twig' %}

{% endblock %}




{% block content_header '' %}
{% block title %}
EDITION: <br>
{{ entity.name }}
{% endblock %}


{% block content %}
<br><br>
 
<form action="{{ path('epost_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
 {% include 'ApplicationEpostBundle:Template:new.html.twig' with {'myform':form} %}
         
 </form>       
        
        
        
                <form action="{{ path('epost_delete', { 'id': entity.id }) }}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                {{ form_widget(delete_form) }}
                <button type="submit"  class="btn btn-medium btn-danger">Delete</button>
                </form>
            
{% endblock %}
