{% extends "ApplicationEpostBundle::layout.html.twig" %}

 {% block javascripts %}
{{ parent() }}
{{ tinymce_init() }}
{% include 'ApplicationEpostBundle:Template:blocksjs.html.twig' %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% include 'ApplicationEpostBundle:Template:blockscss.html.twig' %}
{% endblock %}
 
{% block content_header '' %}

{% block title %}
Ajouter Un Post
{% endblock %}



{% block content %}
 <table class="table table-bordered">
 <tbody>
 <form action="{{ path('epost_create') }}" method="post" {{ form_enctype(form) }}>
 {% include 'ApplicationEpostBundle:Template:new.html.twig' with {'myform':form} %}
 </form>
</tbody>
</table>
{% endblock %}
