{% extends "ApplicationEpostBundle::layoutblogroll.html.twig" %}

  {% block stylesheets %}
{{ parent() }}
      <link rel="stylesheet" href="{{ asset('bundles/applicationepost/css/sliding.css') }}" type="text/css" media="all"/>
      <link rel="stylesheet" href="{{ asset('css/comments.css') }}" type="text/css" media="all"/>
<style>
   
        .mytext {
           
            background-color: #f1f1f1;
            width:100px;

        }
   
        td {
        padding: 5px;}
        .table {
       
    margin: 10px;
    min-width: 70%;
  /* width: auto;*/
    font-size: 12px;
}

div.viewpost
{
border:1px solid;
border-radius:10px;
-moz-border-radius:10px; 
/* Old Firefox */
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
margin-bottom:10px;
/*box-shadow: 7px 7px 5px #888888;*/
background-color:  #e3e3e3;
width:100%;
/*background-color: rgb(249, 249, 249);*/
} 

div#accordion{
padding-right:10px;}

 #button {
padding: .5em 1em;
text-decoration: none;
}
#effect {
position: relative;
width: 100%;
height: 135px;
padding: 0.1em;
}
.myresume {
            border: 1px solid #D4E0EE;
         
            width:560px; 
            height:150px;

        }
 
 @media (min-width: 1200px) {
     .affixleft {
    position:static; 
 }
 
   .container {
    max-width: 1200px;
}
  }
   @media (min-width: 1400px) {
   .container {
    max-width: 1400px;
}
  }
  
     @media (min-width: 1600px) {
   .container {
    max-width: 1600px;
}
  }
</style> 
  {% endblock %}
     
{% block javascripts %}
{{ parent() }}
 <script type="text/javascript" src="{{ asset('jquery/jquery.raty.js') }}"></script>
 <script type="text/javascript">
 $('.star').raty({
        readOnly: true,
        score: function() {
    return $(this).attr('data-score');
  },
});
</script>
{% endblock %}
      
{% block content_header '' %}
{% block title %}
{% endblock %}


{% block content %}

 <br>

    <div class="viewpost">
     <table width="98%"><tr><td align="top">
          <i class="glyphicon glyphicon-time"></i> {{ entity.createdAt|created_ago }}, 
  <i class="glyphicon glyphicon-user"></i> {{ entity.proprietaire.username }}
   
           {% if entity.globalnote is not null %}
   {#    Note Globale: #}
           <div id="{{entity.id}}" class="star" identity="{{entity.id}}" data-score="{{ entity.globalnote }}"></div>
           
<div class="sonata-blog-post-tag-list">
      <i class="glyphicon glyphicon-tasks"></i>
        {% if entity.categorie is not null %}               
                          <span class="label">
                 
    <a href="{{ url('epost_categories_show', {'categorie': entity.categorie.slug} ) }}">
{{ entity.categorie.name }}</a>
                        </span>
                  {% else %}
                  --
                  {% endif %}
                  <br>         <i class="glyphicon glyphicon-tags"></i> 
                        {% for tag in entity.tags %}
                             <span class="label label-inverse">
                                 <a href="{{ url('epost_tags_show', {'tag': tag.slug} ) }}">{{ tag.name }}</a>
                            {% if not loop.last%} {%endif%}
                             </span>
                            {% else %}
                            --
                        {% endfor %}
                    </div>   
                
           {#({{ entity.globalnote }})#}
        {% else %}
   <div class="star" data-score="0"></div>
        {#({{ entity.globalnote }})#}
        {% endif %}
                         </td>

                         
                         <td align="right">
     <img src="{% path entity.imageMedia, 'big' %}" width="150" /> 
                         </td></tr></table>
 
    <h3 class="sonata-blog-post-title">
    {{ entity.name }} 
       
    </h3>
     
                    {#
        {% if entity.imageName is not null %}               
           
         
         <img width="220px" src="{{ vich_uploader_asset(entity, 'image') }}" alt="{{ entity.imageName }}" />
         {% else %}
           ---
         {% endif %}
         #}
        
       {{ entity.description|raw }}
    </div>
    
         <hr>
 
{% if comments|length > 0 %}
 <h2><center>{{ comments|length }} Commentaires</center></h2>
    <section class="comments" id="comments">
        <section class="previous-comments">
          <table class="table table-striped table-bordered table-hover">
          <tbody>
         {% for comment in paginationa %}
    <thead>
        <tr class="title"> 
        <th>
          <i class="glyphicon glyphicon-user"></i>{{ comment.user }}
        <i class="glyphicon glyphicon-time"></i>  {{ comment.created|date}}
        </th></tr> 
    </thead>
        <tr>
        <td> <p>{{ comment.comment|raw }} 
             <br>
             </p>
        </td>
        </tr>
 {% endfor %}
    <tr><td>
        {{ knp_pagination_render(paginationa) }}
                </td></tr>
            </tbody>
        </table>
    
            
 
{% else %}
    <p>Il n'y a pas de commentaire pour ce POST...</p>
{% endif %}
        </section>
    </section>
   
     <section class="comments" id="comments">
         <hr>
 {% if entity.commentsDisabled == 1 and date(entity.commentsCloseAt) <= date()%}
      <span class="badge badge-warning">Commentaires fermés a partir du {{ entity.commentsCloseAt|date('Y-m-d H') ~ 'h' }}
      </span>
         <br><br>
   {% else %}
        {# .. #}
      
        <h3>Ajouter un commentaire</h3>
        {% render controller('ApplicationEpostBundle:EpostComments:new', { 'epost_id': entity.id }) %}
{% endif %}
    </section>
 
 {# l'id du thread est l'id , ancestor est la reference du thread #}
{#
  {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id':'ghgjh', 'epost':entity.id} %}
#}
{#
  
  {% include 'FOSCommentBundle:Thread:async.html.twig' with {'id': 'ghgjh','epost':entity.id} %}
  #} 
         {% endblock %}
 
  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% block roll %}
{{ parent() }}
{% include 'ApplicationEpostBundle:sidebar:sidebarroll.html.twig' %}
{% endblock %}
         {% endif %}