<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
        <meta charset="utf-8">
        <title>Blog MRoot - Mon Blog</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
             {% block stylesheets %}

       {# no compil 'css/font-awesome.css'#}   
        {#<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">#}
                <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.css') }}" type="text/css" />
                <link rel="stylesheet" href="{{ asset('css/dark-hive/jquery-ui-1.10.3.custom.css') }}" type="text/css" media="all"/>
                 <link rel="stylesheet" href="{{ asset('css/font-awesome-4.0.3/css/font-awesome.min.css') }}" type="text/css" />
        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="/bootstrap/img/favicon.ico">
        <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">
        
        {#
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" type="text/css" rel="stylesheet">

#}

       {#    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap-theme.css') }}" type="text/css" />
      <link rel="stylesheet" href="{{ asset('bootstrap3/css/bootstrap-responsive.css') }}" type="text/css" />#}
        
        
         






        <!-- CSS code from Bootply.com editor -->
        
        <style type="text/css">
            /* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
	width:auto;
}

/* end */

/* custom theme + Bootstrap resets */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400');

header {
	min-height:180px;
  	margin-bottom:5px;
}

/* only apply sticky columns on wider screens */
@media (min-width: 1200px) {
  #sidebar {
 	margin-left:15px;
  }

  #content {
 	padding-right:15px;
  }

  #sidebar.affix-top {
      position: static;
  }
  
  #sidebar.affix {
      position: fixed !important;
      top: 20px;
      width:200px;
  }

  #midCol.affix-top {
      position: static;
  }

  #midCol.affix-bottom {
      padding-top:0;
  }
  
  #midCol.affix {
      position:fixed !important;
  	  top: 20px;
  	  width:292px;
  }
}

.affix {
      position:static;
}

body {
  font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
  font-weight:300;
  color:#676767;
  background-color:#efefef;
}

a,a:hover {
	color:#77CCDD;
  	text-decoration:none;
}

.highlight-bk {
	background-color:#77CCDD;
    padding:1px;
    width:100%;
}

.highlight {
	color:#77CCDD;
}
  
h3.highlight  {
	padding-top:13px;
    padding-bottom:14px;
  	border-bottom:2px solid #77CCDD;
}

.navbar {
	background-color:#77CCDD;
  	color:#ffffff;
  	border-radius:0;
}
.navbar-nav > li > a {
  	color:#fff;
  	padding-left:20px;
  	padding-right:20px;
  	border-left:1px solid #66BBCC;
}
.navbar-nav > li:last-child > a {
  	border-right:1px solid #66BBCC;
}

.navbar-nav li a:hover {
  	background-color:#66BBCC;
}

.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
	color: #000;
  	opacity:.9;
}

.navbar-brand {
	color:#fff;
}

.accordion-group {
	border-width:0;
}

.dropdown-menu {
	min-width: 250px;
}

.caret {
	color:#fff;
}

.navbar-toggle {
	color:#fff;
    border-width:0;
}
  
.navbar-toggle:hover {
	background-color:#fff;
}

.panel,.panel-heading {
  	border-radius:0;
  	border-width:0;
  	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
	box-shadow: 0 3px 3px  rgba(0, 0, 0, 0.09);
}

.thumbnail {
	margin-bottom:8px;
	border-radius:0;
}

.well {
  	border-radius:0;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
	padding-left:1px;
}

footer {
	height:50px;
  	background-color:#dfdfdf;
  	color:#888;
  	margin-top:20px;
}

@media (min-width: 992px) {
  .no-gutter.row > div[class*='col-md'] {
    padding-left: 0;
    padding-right: 0;
  }
  .no-gutter.row > .col-md-12 {
    width: 99.99999999999999%;
    *width: 99.93055555555554%;
  }
  .no-gutter.row .col-md-11 {
    width: 91.66666666666666%;
    *width: 91.59722222222221%;
  }
  .no-gutter.row > .col-md-10 {
    width: 83.33333333333331%;
    *width: 83.26388888888887%;
  }
  .no-gutter.row > .col-md-9 {
    width: 74.99999999999999%;
    *width: 74.93055555555554%;
  }
  .no-gutter.row > .col-md-8 {
    width: 66.66666666666666%;
    *width: 66.59722222222221%;
  }
  .no-gutter.row > .col-md-7 {
    width: 58.33333333333333%;
    *width: 58.263888888888886%;
  }
  .no-gutter.row > .col-md-6 {
    width: 49.99999999999999%;
  }
  .no-gutter.row > .col-md-4 {
    width: 33.33333333333333%;
  }
  .no-gutter.row > .col-md-3 {
    width: 24.999999999999996%;
    *width: 24.930555555555554%;
  }
  .no-gutter.row > .col-md-2 {
    width: 16.666666666666664%;
    *width: 16.59722222222222%;
  }
  .no-gutter.row > .col-md-1 {
    width: 8.333333333333332%;
    *width: 8.263888888888888%;
  }
}

/* end custom theme */
        </style>
          {% endblock %}

    </head>
    
    <!-- HTML code from Bootply.com editor -->
    
    <body  >
   
    {% block navbar %}
 {% set foo = app.request.attributes.get('_route') %}
 {#{{ foo }}#}
{% set foo = foo|split('_') %}

        <!-- Begin Navbar -->
<div class="navbar navbar-static">
   <div class="container">
    <div class="navbar-header">
           <a class="navbar-brand" href="#"><i class="fa fa-home"></i>  {% block toto %}BLOG MRoot{% endblock %}</a>
 
   {#  <a class="navbar-brand" href="http://www.bootply.com" target="ext"><b>BLOG MROOT</b></a>#}
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">  
            {% set addoncl="dropdown" %}
            {% if foo[0] == 'epost' %}  {% set addoncl="dropdown active" %} {% endif %}
            <li class="{{addoncl}}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="fa fa-book"></span> Blog<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li><a href="{{ path('epost') }}"><i class="fa fa-briefcase"></i> {{ 'DashBoard Articles'|trans }}</a></li>
                    <li><a href="{{ path('epost_mesposts') }}"><i class="fa fa-briefcase"></i> {{ 'Mes Artciles'|trans }}</a></li>
                    <li><a href="{{ path('epost_propositions') }}"><i class="fa fa-briefcase"></i> {{ 'Groupe-Articles'|trans }}</a></li>
                    <li><a href="{{ path('usermedia') }}"><i class="glyphicon glyphicon-book"></i> {{ 'Medias'|trans }}</a></li>
                    <li><a href="{{ path('epost_comment_ownerview') }}"><i class="fa fa-briefcase"></i> {{ 'Mes Commentaires'|trans }}</a></li>
                    <li><a href="{{ path('epost_comment_ownerblogview') }}"><i class="fa fa-briefcase"></i> {{ 'Mes Articles-Commentaires'|trans }}</a></li>
                    <li><a href="{{ path('epostnotes') }}"><i class="glyphicon glyphicon-book"></i> {{ 'Notes-Articles'|trans }}</a></li>
                    {% endif %}
                    <li><a href="{{ path('epost_indexstandard') }}"><i class="fa fa-briefcase"></i> {{ 'Standard Blog'|trans }}</a></li>
                    <li><a href="{{ path('epost_indexadmin') }}"><i class="fa fa-briefcase"></i> {{ 'Tous les Articles'|trans }}</a></li>
                </ul>
            </li>
           <!--======================== AUTENTIFIE=================-->                                           
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
    {% set addoncl="dropdown" %}
     {% if (foo[0] == 'egroup') or  (foo[0] == 'epostroll') %} {% set addoncl="dropdown active" %} {% endif %}
    <li class="{{addoncl}}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i>
        Groupes<b class="caret"></b> </a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('egroup_groupes') }}"><i class="fa fa-user"></i> {{ 'Dashboard Groupes'|trans }}</a></li>
            <li><a href="{{ path('egroup_groupes_showmygroup') }}"><i class="fa fa-user"></i> {{ 'Mon Groupe'|trans }}</a></li>
            <li><a href="{{ path('groupedemande') }}"><i class="fa fa-user"></i> {{ 'Demandes de Groupe'|trans }}</a></li>
            <li><a href="{{ path('groupedemande_mongroupe') }}"><i class="fa fa-user"></i> {{ 'Demandes MonGroupe'|trans }}</a></li>
            <li><a href="{{ path('epostroll') }}"><i class="fa fa-tasks"></i> {{ 'Roll-Groupe'|trans }}</a></li>
            <li><a href="{{ path('tags') }}"><i class="fa fa-tag"></i> {{ 'Tags'|trans }}</a></li>
            <li><a href="{{ path('categories') }}"><i class="fa fa-archive"></i> {{ 'Categories'|trans }}</a></li>
        </ul>
    </li>
  
     {% if is_granted("ROLE_ADMIN") %}
     <li class="dropdown {{addoncl}}">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i>
        Admin<b class="caret"></b> </a>
                <ul class="dropdown-menu">
                <li><a href="{{ path('sonata_admin_dashboard') }}">{{ 'Admin Dashboard' }}</a>
                <li><a href="{{ path('sonata_user_profile_edit_authentication') }}">{{ 'Edit Profile' }}</a></li>
            </ul>
     </li>
     {% endif %}
   
         {% endif %}      
            </ul>
       
        <ul class="nav pull-right navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
            <ul class="dropdown-menu" style="padding:12px;">
                <form class="form-inline">
     				<button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input class="form-control pull-left" placeholder="Search" type="text">
                </form>
             </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-key"></i> Connexion</a></li>
              <li><a href="#">Profile</a></li>
              <li class="divider"></li>
              <li><a href="#">About</a></li>
             </ul>
          </li>
        </ul>
      </div>
    </div>
</div><!-- /.navbar -->
                {% endblock %}     


  {% block main %}

                {% endblock %}     


  {% block footer %}

                
<footer>
  <div class="container">
  	<div class="row">
    	<div class="col-md-6">©Company 2013</div>
    </div>
  </div>
</footer>
{% endblock %}     

         {% block javascripts %}
        <script src="{{ asset('jquery/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
         <script src="{{ asset('jquery/jquery-migrate-1.1.1.min.js') }}" type="text/javascript"></script>
        {#<script src="{{ asset('jquery/jquery-1.8.3.js') }}" type="text/javascript"></script>#}
         <script type="text/javascript" src="{{ asset('jquery/jquery-ui-1.10.3.custom.min.js') }}"></script>
     {#   <script type="text/javascript" src="{{ asset('jquery/jquery-ui-1.9.2.custom.min.js') }}"></script>#}
        <script type="text/javascript" src="{{ asset('jquery/jquery.ui.datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/blur.min.js') }}"></script>
        {#
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
#}
        
        <!-- JavaScript jQuery code from Bootply.com editor -->
        
        <script type='text/javascript'>
        
        $(document).ready(function() {
        
            $('#sidebar').affix({
      offset: {
        top: 230,
        bottom: 100
      }
});	
$('#midCol').affix({
      offset: {
        top: 230,
        bottom: 100
      }
});	
        
        });
        
        </script>
       {% endblock %}


    </body>

</html>