{% extends "SonataUserBundle::layout.html.twig" %}

{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}


{% block content %}

<div class="sonata-user-edit-profile">

    <h2><center>{{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {{ "title_user_edit_profile" | trans({}, 'SonataUserBundle')}}</center></h2>
                 
    <form action="{{ path('sonata_user_profile_edit') }}" method="POST">
   <table class="table table-bordered">
    <tbody>      
        <tr> <td>
       {{ form_rest(form) }}
                    </td></tr>
                <tr><td>
         <input type="submit" class="btn btn-primary" name="submit" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
    </form>
       </td></tr>
    </tbody></table>

</div>

{% endblock %}