 
{% form_theme form with 'ApplicationEpostBundle:Form:media_widgets.html.twig' %}

{% use '::navbar.html.twig' %}
{#
{% use "ApplicationEpostBundle::Template:layout.html.twig" %}#}

<div id="myformbg">
<div class="row">
    <div class="span4">
        {{ form_row(form.name) }}
        {{ form_row(form.idStatus) }}
        {{ form_errors(form.isvisible) }}
        {{ form_widget(form.isvisible) }}  
               
        {{ form_errors(form.commentsDisabled) }}
        {{ form_label(form.commentsDisabled) }}
        {{ form_widget(form.commentsDisabled) }}
        {{ form_errors(form.commentsCloseAt) }}
        {{ form_label(form.commentsCloseAt) }}
        {{ form_widget(form.commentsCloseAt) }}
    </div>
    <div class="span4">
       {{ form_label(form.tags) }}
       {{ form_widget(form.tags) }}
       {{ form_row(form.categorie) }}
    </div>
    <div class="span3">
        {{ form_errors(form.imageMedia) }}
     {#   {{ form_label(form.imageMedia) }}#}
        {{ form_widget(form.imageMedia) }}
        <a class="editme" href="{{ path('certificats_documents_xhtml', { 'id': entity.id }) }}">
        <span class="icon-stack icon-2x">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-archive"></i>
       </span>   
       </a>
       Sélectionner Fichier Existant
                   
                   
                   
                   
    </div>      
</div>
        
<div class="row">
    <div class="span11">
        {{ form_row(form.description) }}
    </div>
</div>  

<div class="row">
    <div class="span11">
        {{ form_errors(form.resume) }}
        {{ form_label(form.resume) }}
        {{ form_widget(form.resume, { 'attr': {'class': 'myresume'} }) }}
    </div>
</div>
     
<div class="row">
    <div class="span11">
        {{ form_rest(form) }}                                  
        <button type="submit" class="btn btn-medium btn-warning">Modifier</button>
        <a href="{{ path(btnretour)  }}" class="btn btn-medium btn-success">Retour</a>
</div>
</div>                

</div>                 
   
   